*{
   font-family: 'Varela Round', sans-serif;
}


#container {
    position: fixed;
    height: 443px;
    margin: auto;
   // padding: 5px 20px 20px 20px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    box-shadow:0px 0px 1px 1px cyan; 
}

#header{
    text-align: center;
}

#screen{
    width: 289px;
    height: 92px;
   padding: 5px 5px 5px 5px;
   // border: 1px solid #ccc;
    //background-color: #ffffff;

}

#upper{
    height: 30%;
    text-align: right;
    padding: 5px;
    font-size: 20px;
}
#lower{
    height:70%;
    text-align: right;
    font-weight: bold;
    padding: 10px;
    font-size: 40px;
}

#buttons{
    #padding: 5px 2px 5px 5px;
    #border: 1px solid #ccc;
    background-color: #ffffff;
}

.button{
    float: left;
    width:30px;
    padding: 21px;
    border:1px solid #ccc;
    background-color: #ffffff;
    text-align: center;
    margin:0.5px
}

#buttoncontainer{
    margin:auto;
    width:304px;
    height: 271px;
}
#del img{
    width: 14px;
}
#sign img{
    width: 22px;
}


.number{
    font-weight: bold;

}

.number:hover{
    background-color: #cc22221f;
}

.symbol:hover{
    background-color: cyan;
}

.symbol{
     background-color:#f3f3f3
}